body {
     background-color: #33ff00;
}
html{
    background-color: darkred;
    height: 100%;
}
#container {
    background-color: darkred;
    height: 500px;
    border: 5px rgb(0, 0, 0);
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: rgb(192, 191, 191);
}
#output {
    margin: 25px auto;
    height: 26px;
    color: snow;

}

#image {
    height: 500px;
    width: 500px;
}
